@model IEnumerable<Person>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Име</th>
        <th>Имейл</th>
        <th>Служебен телефон</th>
        <th>Длъжност</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model.Where(p => !p.IsDeleted))
    {
        <tr>
            <td>@person.FirstName @person.MiddleName @person.LastName</td>
            <td>@person.Email</td>
            <td>@person.BusinessPhoneNumber</td>
            <td>@person.Role.Name</td>
        </tr>
    }
    </tbody>
</table>