@model PersonDetailsViewModel
@{
    ViewBag.Title = "Визитка";
}

<div class="container mt-5">
    <div class="contact-card card shadow p-3 mb-5 bg-white rounded person-card">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <div class="p-3">
                    @if (Model.PersonPicture != null)
                    {
                        <img src="@($"data:image/webp;base64,{Convert.ToBase64String(Model.PersonPicture)}")" alt="Avatar" class="img-fluid rounded-circle border person-image"/>
                    }
                    else
                    {
                        <img src="https://buditel.softuni.bg/wp-content/uploads/2020/04/SoftUni-Buditel-favicon.png" alt="No Avatar" class="img-fluid rounded-circle border person-image"/>
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-primary">
                        @($"{Model.FirstName} {(string.IsNullOrWhiteSpace(Model.MiddleName) ? "" : $"{Model.MiddleName} ")}{Model.LastName}")
                    </h4>
                    <p class="card-text"><strong>Отдел:</strong> @Model.Department</p>
                    <p class="card-text"><strong>Длъжност:</strong> @Model.Role</p>
                    @if (Model.Role == "Учител")
                    {
                        <p class="card-text"><strong>Група предмети:</strong> @Model.SubjectGroup</p>
                        <p class="card-text"><strong>Предмет:</strong> @Model.Subject</p>
                    }
                    <p class="card-text"><strong>Личен телефон:</strong> @Model.PersonalPhoneNumber</p>
                    <p class="card-text"><strong>Служебен телефон:</strong> @(Model.BusinessPhoneNumber ?? "липсва")</p>
                    <p class="card-text"><strong>Имейл:</strong> @Model.Email</p>

                    @if(Model.Birthdate != null)
                    {
                        <p class="card-text"><strong>Рождена дата:</strong> @Model.Birthdate</p>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="mt-4">
                            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">Редактиране</a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтриване</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
